@model TPS.Domain.TravelPackage

@using TPS.Web.Areas.Administration.Controllers;

@{
    ViewData["Title"] = "Details";
    var picId = Model.Id + ".jpg";
}

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/offers.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content">
                    <div class="home_content_inner">
                        <div class="home_title">Offers</div>
                        <div class="home_breadcrumbs">
                            <ul class="home_breadcrumbs_list">
                                <li class="home_breadcrumb">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="home_breadcrumb">Offers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />

<div class="offers">
    <div class="container">
        <div class="row">
            <div class="item clearfix rating_5">
                <div class="item_image">
                    <img src="~/images/Australia/@(Model.Id).jpg" alt="">
                </div>
                <div class="item_content">
                    <div class="item_price">
                        From @Model.RRP.ToString("c")
                    </div>
                    <div class="item_title">
                        @Model.Name
                    </div>
                    <ul>
                        <li>
                            Travel in:
                            @foreach (var tpc in Model.Cities)
                            {
                                <div>
                                    <div><strong>@tpc.City.Name (@tpc.NumberOfDays days)</strong></div>
                                    <div>
                                        <ul>
                                            @foreach (var tpca in tpc.TravelPackageCityAttractions)
                                            {
                                                <li style="display:block">@tpca.CityAttraction.Name - @tpca.CityAttraction.Description</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </li>
                    </ul>
                    <div class="item_text">
                        Description
                        @Model.Description
                    </div>
                    <div class="item_more_link"><a href="#">Read More</a></div>
                </div>
            </div>

            <div class="buttons_container">
                @if (User.IsInRole("Administrator"))
                {
                    <div class="button button_1 elements_button">
                        <a asp-area="Administration"
                           asp-controller="TravelPackages"
                           asp-action="Edit"
                           asp-route-id="@Model.Id">
                            Edit
                        </a> 
                    </div>
                }
                @if (User.IsInRole("Customer"))
                {
                    <div class="button button_1 elements_button">
                        <a asp-area="Customer"
                           asp-controller="Home"
                           asp-action="Index">
                            Pay Now
                        </a>
                    </div>
                }
                <div class="button button_1 elements_button">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
